body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    --color-hover : #18CFAB;
    --color: #18CFAB;
    --color-btn: #00CBF6;
    --color-text-whit : #FFFFFF;
    --color-text-transparent: #D4D4D4;
    --color-service-item-bg: #EDEFEF;
    --color-service-text: #717171;
    --color-news-text: #777777;

}
.link{
    text-decoration: none;
}
.header{
    width: 100vw;
    height: 1000px;
    position: relative;
    background-image: url(../images/sections-background/section-1\(header\).jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
      /* The image used */
  /* background-image: url("img_parallax.jpg"); */

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-block{
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}
.nav{
    width: 1160px;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    align-items: center;
}
.logo{
    width: 35%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation-list{
    margin-left: 10%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6);
}
.navigation-item{
    margin-left: 20px;
    margin-right: 20px;
}
.navigation-item:hover,
.navigation-item:focus{
    color: var(--color-hover)
}

/* ----header-message---- */

.header-message{
    position: absolute;
    width: 770px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header-message-first-paragraph{
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    /* margin-top: 0px;
    margin-bottom: 20px; */
    margin: 0 auto;
}
.first-paragraph-white{
    color: var(--color-text-whit);
}
.first-paragraph-colorflu{
    color: var(--color);
}
h2{
    margin: 0 auto;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: var(--color-text-whit);
}
.header-message-last-paragraph{
    margin: 0 auto;
    font-weight: 400;
    font-size: 30px;
    line-height: 1px;
    color: var(--color-text-transparent);
    margin-bottom: 60px;
}
.links{
    margin: 0 auto;
    width: 360px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.two-links-first,
.two-links-second,
.manu-options-link{
    width: 170px;
    height: 65px;
    background-color: var(--color-btn);
    font-size: 15px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--color-text-whit);
    border-radius: 5px;
    box-shadow:  0px -5px #FFFFFF;
}

/* ----------options-------- */
.options{
    width: 100vw;
    height: 360px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 90px;

}
                /* grid */
.hand-img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.sapfire-img{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.lamp-img{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.gajets-img{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}
.options-paragraph-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.options-paragraph-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.options-paragraph-3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.options-paragraph-4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
             /* css property elements 4options */

.options-dark,
.options-light{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 40px;
}

.options-dark{
    background-color: #1C2A33;
}

.options-light{
background-color: var(--color);
}

.options-paragraph-1,
.options-paragraph-2,
.options-paragraph-3,
.options-paragraph-4{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.options-paragraph-1,
.options-paragraph-3{
    background-color: #1C2A33;
    color: var(--color);
}

.options-paragraph-2,
.options-paragraph-4{
    background-color: var(--color);
    color: var(--color-text-whit)
}

/* --------our services-------- */

.our-services{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services{
    width: 1160px;
    margin: 0 auto;
}
.title-services,
.title-works,
.title-news{
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color:  #4E4E4E;
}
.paragraph-lines-image{
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}
.services-list{
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    grid-template-rows: 70px;
    background-color: var(--color-service-item-bg);
    margin-bottom: 25px; 
}
.service-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: var(--color-service-text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

}
.service-item.active{
    background-color: var(--color-hover);
    color: var(--color-text-whit)
}
.service-item:hover{
    border: 1px solid var(--color);
    box-sizing: border-box;
}
.service-img-text-item.active{
    display: flex;
}
.service-img-text-item.no-active{
    display: none;
}
.services-img-text{
    width: 1160px;
    margin-bottom: 90px;
}

.service-img-text-item{
    display: flex;
    justify-content: center;
    align-items: start;
}
.service-text{
    margin-left: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}
.services-img{
    width: 200px;
    height: 140px;
}

/* -------------just--------- */
.just {
    height: 480px;
    background-size: contain;
    background-image: url(../images/sections-background/section-2.jpg) ;
    min-height: 480px; 
/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.just-text {
    width: 1160px;
    height: 210px;

}
.just-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--color);
    margin-bottom: 15px;
}
.many-options {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.just-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.manu-options-link{
    text-decoration: none;
}

/*  -----Amazing works-------*/


.our-works{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-service-item-bg);
    padding-top: 90px;
}
.works{
    width: 1160px;
    margin: 0 auto;

}
/* .title-works{
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color:  #4E4E4E;
} */
.works-list{
    width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 70px;
    background-color: var(--color-service-item-bg);
    margin-bottom: 70px; 
}
.work-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: var(--color-service-text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

}
.work-item.active{
    color: var(--color)
}
.work-item:hover{
    border: 1px solid var(--color);
    box-sizing: border-box;
}
.work-images{
    /* height: 620px; */
    width: 1160px;
    display: grid;
    grid-template-columns: repeat(4, 285px);
    grid-template-rows: repeat(3, 205px);
    grid-auto-flow: row;
    margin-bottom: 70px;
}

.work-image{
    position: relative;
}
.work-hover{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 25px;
}
.work-item-active{
    border: 1px solid var(--color);
    box-sizing: border-box;
    color: var(--color)
}
h5{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: var(--color);
}
.web-disign{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: var(#8A8A8A);
    margin-bottom: 35px;
}
.work-links{
    background-color: #E9EDEF;
    position: relative;
}
.work-img-under{
    width: 285px;
    height: 100%;
    position: absolute;
    z-index: 0;
    visibility: hidden;
}
.work-img-front{
    width: 285px;
    height: 100%;
    z-index: 1;
    opacity: 1;

}
ul.work-images>li.work-image:hover 
.work-img-front{
z-index: -1;
opacity: 0;
}
ul.work-images>li.work-image:hover 
.work-img-under{
    z-index: 1;
    visibility: visible;
}
.line{
    width: 285px;
    height: 5px;
    background-color: var(--color);
}

.work-image.active{
    display: flex;
}
.work-image.no-active{
    display: none;
}


    /* ----btn-more----- */

.more{
    width: 170px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.link-more{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--color);
    text-decoration: none;

}
.link-more-text{
    color: var(--color-text-whit);
    font-size: 14px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

/* -------------breaking-news---------- */

.breaking-news{
    width: 100%;
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.list-news-cards{
    display: grid;
    grid-template-columns: repeat(4, 265px);
    grid-template-rows: repeat(2, 280px);
    column-gap: 45px;
    row-gap: 55px;
    grid-auto-flow: row;

}
.card-news{
    width: 264px;
    height: 280px;
}
.news-link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.card-news-img{
    width: 100%;
    height: 80%;
    background-image: url(../images/news/image1.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.square{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 65px;
    height: 65px;
    background-color: #203E38;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
li.card-news:hover .square{
    background-color: var(--color);
}
li.card-news:hover .card-title-text{
color: var(--color);
}
.card-news-text{
    padding-left: 16px;
}
.card-title-text{
    font-size: 18px;
    line-height: 39px;
    color: var(--color-service-text);
}
.card-text{
    margin-top:  -15px;
    /* padding-bottom: 25px; */
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color:var(--color-news-text);
}

/* What People Say About theHam  */

.say{
    width: 100%;
    height: 865px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/sections-background/section-3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.say-block{
    width: 1160px;
    height: 640px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-say{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color:var(--color-text-whit);
    margin-bottom: 25px;
}
.slaider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.slaider-window{
    width: 1140px;
    height: 450px;
}
.screen1{
    display: flex;
    flex-direction: column;
}
.screen2,
.screen3,
.screen4{
    display: none;
    flex-direction: column;
}
.slaider-window-string{
    width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    /* left: 0; */
    transition: all ease 1s;
}
.paragraph-combined-shape{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
.slaider-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BBBBBB;
    margin-bottom: 35px;
}
.slaider-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--color);
}
.slaider-pisition{
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.face-selected{
    width: 170px;
    height: 170px;
}
.slaider-face-selected{
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.slaider-select,
.list-slaider-face{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.slaider-select{
    width: 485px;
    height: 70px;
}
.slaider-item{
    width: 75px;
    height: 75px;
    margin-left: 20px;
    margin-right: 20px;
    /* opacity: 0; */
}
.slaider-item-face{
    width: 75px;
    height: 75px;
}


.right,
.left{
    width: 30px;
    height: 30px;
    background-color: transparent;
    box-shadow: none;
    text-decoration: none;
    position: relative;
    color: var(--color-text-whit);
    border: 1px solid #FFFFFF;

}
.left{
    background-color: transparent;
}
.left:hover,
.right:hover{
    background-color: var(--color);
    cursor: pointer;
    border: 1px solid var(--color);

}

/* ----------footer------- */

.footer{
    height: 120px;
    background-color: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-paragraph{
    color: #AEAEAE;
}
.the-ham{
    color: var(--color);
}
